.boto-contenidor {
  height: 83px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  background-color: #61ada8;
  color: white;
  border-radius: 30px;
  border: 2px solid white;
  margin: 4px;
  cursor: pointer;
  user-select: none;
}

.boto-contenidor:hover {
  background-color: #4df0e6;
}

.operador {
  background-color: #9dac55;
  border-radius: 50px;
}

.operador:hover {
  background-color: #c3dc4e;
}